<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manan.dev.shineymca">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utility.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Utility.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utility.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".RegisterFirstActivity" />
        <activity
            android:name=".BottomNavigator"
            android:theme="@style/UserHomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleClubActivity" />
        <activity android:name=".RoundActivity" />
        <activity android:name=".RegisterSecondActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".AdminZone.AddRoundActivity"
            android:label="NEW EVENT" />
        <activity
            android:name=".AdminZone.AdminHomeActivity"
            android:label="ADMIN HOME" />
        <activity android:name=".AdminZone.AdminLoginActivity" />
        <activity android:name=".AdminZone.AddCoordinator" />
        <activity android:name=".Delete.DeleteAddClubs" />
        <activity android:name=".AdminZone.AdminAllRoundsActivity" />
        <activity android:name=".AdminZone.AddAttendeesActivity" />
        <activity android:name=".AdminZone.AddUserNameActivity"></activity>
    </application>

</manifest>